@font-face {
  font-family: "Manropelight";
  src: url("../fonts/Manropelight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  background-color: #b4d5e8; /* #0d5b89; */
}

/* ГЛАВНАЯ СТРАНИЦА - для App */
section {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-header,
.page-footer {
  flex-shrink: 0;
  z-index: 100;
}

.page-body {
  flex-grow: 1;
  min-height: calc(100vh - 65px);
}

a,
button {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

p {
  margin: 7px 0;
}

li {
  margin-left: 32px;
}
