doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Подтверждение адреса электронной почты - на платформе "Товары для здоровья «Осьминожки»"
            .container { padding: 0 100px; }



    body.container
        img(src="", alt="Осьминожки" style="width: 130px;")
        h3 Здравствуйте, #{name} 
        p вы зарегистрировались на 
            a(href=url_course) на платформе "Товары для здоровья «Осьминожки»".
        br
        p Подтвердите пожалуйста адрес электронной почты, для этого перейдите по ссылке ниже.
        p
            a(href=url_confirmation) Подтвердить регистрацию
        
        p Если вы не регистрировались, просто проигнорируйте это письмо.

        hr
        footer
            p С уважением, «Осьминожки»
